.topbar {  
    display: block;
    position:relative;
    height: 60px;
    width: 100%;
    background-color: black;
    padding: 2px 7px 8px 7px;
    
}

.topbar_bar .div {
    padding: 2px 7px 8px 7px;
}

.topbar_element {
    padding-left:20px;
    vertical-align: middle;
    display: inline-block;
}

.topbar_geo{
    color: white;
}



.topbar_logo h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color:red;
}

.topbar_logo a {
    text-decoration: none;
}

.topbar_searcher input {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4em;
    height: 40px;
    width: 1500px;
}




/*---------Language Bar-----------*/

.topbar_language{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

.topbar_language p {

    color: white;
}

.topbar_language_option {
    padding: 10px;
    display: none;
    width: 135%;
    color: black;
    background-color: rgb(255, 187, 0);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
    z-index: 1;
    
}

.topbar_language_option a{
    text-decoration: none;
}

.topbar_language:hover .topbar_language_option{
    display: block;
    
}

.topbar_language:hover .topbar_language_option a:hover{
    color: white;    
}



/*--------- Sign in Popup Form -----------*/

.topbar_login button {
    margin-left: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    text-align: center;
    width: 6em;
    font-style: bold;
    background-color: rgb(247, 173, 13);
    color: rgb(0, 0, 0);
    padding: 10px;
}

.topbar_login button:hover {
    border: 1px solid rgb(255, 255, 255);
    color:rgb(248, 255, 255);
}

.topbar_credentials {
    display: none;
    background-color: black;

}

.topbar_productCounter {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
    padding: 3px;
    text-decoration: none;
    color: white;
    background-color: red;
    border-radius: 1px 1px 1px 1px;

}



